/* styles.css */
body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #988a9a;
}

#root {
  display: flex;
}

.game {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
  color: #ff69b4;
}

.board-row {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  color: #988a9a;
  background-color: #fff0f5;
  border: 2px solid #ff69b4;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #ffb6c1;
}

button {
  background-color: #ff69b4;
  color: #f0f8ff;
  font-size: midium;
  border: 1px solid #f0f8ff;
  margin: 20px 0;
  padding: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  border-radius: 16px;
}
#history {
  color: #f0f8ff;
  border-radius: 5px;
}

button:hover {
  background-color: #ff1493;
}

.controls {
  /* display: flex; */
  justify-content: center;
  margin-bottom: 10px;
}

.game-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



